/* tabla elementos y categorias */

    .nav-link {
        color: #ffffff; /* Color de texto por defecto */
        border: 1px solid transparent; /* Borde por defecto */
    }
    
    .nav-link.active {
        color: #ffffff; /* Color de texto para la pestaña activa */
        background-color: #b40000; /* Color de fondo para la pestaña activa */
        border-color: #b40000; /* Color del borde para la pestaña activa */
    }
    
    .nav-link:not(.active) {
        color: #cccccc; /* Color de texto para las pestañas inactivas */
        background-color: #343a40; /* Color de fondo para las pestañas inactivas */
        border-color: #343a40; /* Color del borde para las pestañas inactivas */
    }
    
    /* Ajustar el color del borde para que no sea tan prominente */
    .nav-link:not(.active) {
        border: 1px solid #343a40; /* Color del borde para las pestañas inactivas */
    }
    
    .nav-link:hover {
        background-color: #495057; /* Color de fondo al pasar el ratón sobre una pestaña inactiva */
        color: #ffffff; /* Color de texto al pasar el ratón sobre una pestaña inactiva */
    }

