.modal-dialog {
    width: 100%; /* Cambia este valor según sea necesario */
}

/* Estilo para hacer dos columnas en el formulario */
.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre columnas */
}

.form-row .col-md-6 {
    flex: 0 0 48%; /* Cada columna ocupará el 48% del ancho */
}

.btn-submit{
    background-color:  #01A497;
    border: none;
    color: white;
    font-size: 14px;
    margin: 1rem;
    float: right;
}

.btn-submit:hover, .btn-submit:active, .btn-submit:focus{
    background-color: white;
    border: 1px solid #01A497;
    color: #01A497;
    font-weight: 600;
    font-size: 14px;
}
.btn-submit{
    background-color:  #01A497;
    border: none;
    color: white;
    font-size: 14px;
    margin: 1rem;
    float: right;
}


.btn-guardar:hover, .btn-guardar:active, .btn-guardar:focus{
    background-color: white;
    border: 1px solid #01A497;
    color: #01A497;
    width: 20%;
    font-weight: 600;
}
.btn-guardar{
    background-color:  #01A497;
    border: none;
    color: white;
    width: 20%;
    margin: 1rem;
    float: right;
}


.btn-primary{
    background-color:  #01A497;
    border: none;
    color: white;
    font-size: 14px;
    margin: 1rem;
    float: right;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    background-color: white;
    border: 1px solid #01A497;
    color: #01A497;
    font-weight: 600;
    font-size: 14px;
}

.modal-body{
    padding: 1rem 2rem;
    margin: 1rem;
}