
    .card-hover {
        transition: transform 0.2s ease; /* Transición suave */
    }

    .card-hover:hover {
        transform: scale(1.05); /* Aumentar el tamaño */
    }

    .icon {
        font-size: 2em; 
        color: #01A497; 
        margin-left: auto; 
        text-align: center; 
    }

    .card-title {
        font-weight: bold;
        color: #333; 
        text-align: left; 
    }

    .card-body {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .number {
        font-size: 1.5em; 
        color: #01A497; 
        text-align: left; 
    }
